/*
 * -------------------------------------------------
 *  nf-core/chipfreqs Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  outDir = './results'
}

// Container slug. Stable releases should specify release tag!
process.container = 'docker://quay.io/mypandos/pgx_tools'

profiles {
  docker { docker.enabled = true }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    process.container = 'docker://quay.io/mypandos/pgx_tools'
  }
  test { includeConfig 'conf/test.config' }
  test1 { includeConfig 'conf/test1.config' }
  slurm {
    process{
      executor = 'slurm'
      maxRetries      = 5
      maxErrors       = 10000
      errorStrategy   = 'retry'
    }
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "./execution_timeline.html"
}
report {
  enabled = true
  file = "./execution_report.html"
}
trace {
  enabled = true
  file = "./execution_trace.txt"
}
dag {
  enabled = true
  file = "./pipeline_dag.svg"
}

manifest {
  name = 'popfreqs'
  author = 'Mamana Mbiyavanga'
  homePage = 'https://github.com/nf-core/chipfreqs'
  description = 'Chip frequencies per populations from a VCF file'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.04.0'
  version = '1.0dev'
}
