/*
 * -------------------------------------------------
 *  nf-core/chipfreqs Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  // TODO nf-core: Specify your pipeline's command line flags

  outdir = './results'
}

// Container slug. Stable releases should specify release tag!
// Developmental code should specify :dev
// process.container = 'docker://quay.io/h3abionet_org/impute2'
process.container = 'docker://quay.io/mypandos/pgx_tools'

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

//// Load nf-core custom profiles from different Institutions
//try {
//  includeConfig "${params.custom_config_base}/nfcore_custom.config"
//} catch (Exception e) {
//  System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
//}

profiles {
  awsbatch { includeConfig 'conf/awsbatch.config' }
  conda { process.conda = "$baseDir/environment.yml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker { docker.enabled = true }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    // process.container = 'docker://quay.io/h3abionet_org/impute2:v3'
    process.container = 'docker://quay.io/mypandos/pgx_tools'
  }
  test { includeConfig 'conf/test.config' }
  slurm {
    process{
      executor = 'slurm'
      maxRetries      = 0
      maxErrors       = 10000
      errorStrategy   = 'retry'
    }
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "./execution_timeline.html"
}
report {
  enabled = true
  file = "./execution_report.html"
}
trace {
  enabled = true
  file = "./execution_trace.txt"
}
dag {
  enabled = true
  file = "./pipeline_dag.svg"
}

manifest {
  name = 'popfreqs'
  author = 'Mamana Mbiyavanga'
  homePage = 'https://github.com/nf-core/chipfreqs'
  description = 'Chip frequencies per populations from a VCF file'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.04.0'
  version = '1.0dev'
}
