/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run h3abionet/generate_freq.nf -profile test,singularity
 */

params {
    config_profile_name = 'popfreq'
    config_profile_description = 'Parse a manifest file and generate VCF and annotation files'
    email = "mamana.mbiyavanga@uct.ac.za"
    plaintext_email = "mamana.mbiyavanga@uct.ac.za"
    // Limit resources so that this can run on Travis
    max_cpus = 2
    max_memory = 100.GB
    max_time = 48.h
    outdir = 'popfreqs'
    scratchDir = "./"
    generate_vcf = false
    
    // Input data with genotypes
    // [ 'name', 
    //      'file_name', 
    //      'separator',
    //      '<Coordinate fields> Chr,MapInfo,SNP', 
    //      [
    //          ['<fields_to_extract>, <fields_to_extract_description>, <Type: Interger, Character, Float, String>],
    //          ['<fields_to_extract>, <fields_to_extract_description>],
    //      ]
    // ]
    manifests = [
        ['Illumina HumanOmni5Exome', 
            '/users/mamana/exome_aibst/PGX_DATA/2021/chips/HumanOmni5Exome-4-v1-1-B.csv',
            ',',
            'Chr,MapInfo,SNP', 
            [
                ['IlmnID', 'Illumina ID', 'String'],
            ]
        ],
        ['H3A', 
            '/users/mamana/exome_aibst/PGX_DATA/2021/chips/H3Africa_2019_20037295_B1.csv', 
            ',',
            'Chr,MapInfo,SNP',
            [
                ['IlmnID', 'Illumina ID', 'String'],
            ]
        ],
        // ['Illumina Infinuim Omni2.5-8 v1.4', '/users/mamana/exome_aibst/PGX_DATA/2021/chips/InfiniumOmni2-5-8v1-5_A1.csv', 'Chr,MapInfo,SNP', '',','],
    ]

    human_genome = '/cbio/users/mamana/reference/gatk_bundle/human_g1k_v37_decoy.fasta'
    snpEff_database         = "/cbio/users/mamana/reference/snpEff_database"
    snpEff_human_db         = "GRCh37.75"

}

process {
    // Process-specific resource requirements
    withLabel: 'medium' {
        memory = 6.GB
    }
    withLabel : 'bigmem' {
        memory = 50.GB
    }
}

profile{
    singularity{
        singularity.runOptions = " -B ${params.scratchDir} " // add any paths that need   to be mounted here
    }
}
