/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow -c /users/mamana/chipfreqs/conf/ilifu.config run /users/mamana/chipfreqs/main.nf -profile singularity
 */

params {
    config_profile_name = 'popfreq'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    email = "mamana.mbiyavanga@uct.ac.za"
    plaintext_email = "mamana.mbiyavanga@uct.ac.za"
    // Limit resources so that this can run on Travis
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h
    outdir = './popfreqs'
    // Input data
    datasets = [
            ['test', 'https://github.com/h3abionet/chipimputation_test_data/raw/master/testdata_imputation/target_testdata.vcf.gz'],
    ]
    chromosomes = [22]
    //chromosomes = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

    mafs_annotations = "data/maf_datasets.csv"
}

process {
    // Process-specific resource requirements
    withLabel: 'medium' {
      // errorStrategy = { task.exitStatus in [143, 137, 255] ? 'retry' : 'ignore' }
      cpus = 2
      memory = 6.GB
    }
    withLabel : 'bigmem' {
      // errorStrategy = { task.exitStatus in [143, 137, 255] ? 'retry' : 'ignore' }
      cpus = 2
      memory = 50.GB
    }
}

profile{
    singularity{
      singularity.runOptions = " -B ${params.dbs_path} " // add any paths that need   to be mounted here
    }
}
