/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow -c /users/mamana/chipfreqs/conf/ilifu.config run /users/mamana/chipfreqs/main.nf -profile singularity
 */

params {
    config_profile_name = 'popfreq'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    email = "mamana.mbiyavanga@uct.ac.za"
    plaintext_email = "mamana.mbiyavanga@uct.ac.za"
    effect_annot = true
    out_prefix = 'test_annot'
    // Limit resources so that this can run on Travis
    max_cpus = 2
    max_memory = 50.GB
    max_time = 48.h
    outdir = '/cbio/projects/001/clients/population_allele_freqs/'
    // Input data
    datasets = [
            // ['test', 'https://github.com/h3abionet/popfreqs/raw/master/test_data/testdata.vcf.gz'],
            // ['test1', 'https://github.com/h3abionet/popfreqs/raw/master/test_data/testdata.vcf.gz'],
            ['dataset1', '/scratch3/users/mamana/tmp/testdata.vcf.gz'],
            // ['1000G', '/cbio/dbs/refpanels/1000G/VCF/1000GP_Phase3/ALL.chr*.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz'],
            // ['GNOMAD_ALL', '/cbio/users/mamana/reference/gnomAD/b37/exomes/chrms/gnomad.exomes.r2.1.1.sites.*.vcf.bgz'],
            // ['GNOMAD_ALL_GENOMES', '/cbio/users/mamana/reference/gnomAD/b37/genomes/chrms/gnomad.genomes.r2.1.1.sites.*.vcf.bgz'],
            // ['AiBST', '/cbio/users/mamana/exome_aibst/data/AIBST/VCF/CHRS/aibst_all_samples_chrm*_clean_snpeff_dbsnp.annot.vcf.gz'],
    ]
    chromosomes = [21,22]
    // chromosomes = [21, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 1, 22]

    // mafs_annotations = "https://github.com/h3abionet/popfreqs/raw/master/test_data/maf_datasets.csv"
    // mafs_annotations = "/scratch3/users/mamana/tmp/maf_datasets.csv"
    mafs_annotations = "/users/mamana/popfreqs/data/maf_datasets.csv"


    // database for snpEff
    snpEff_database         = "/cbio/users/mamana/reference/snpEff_database"
    snpEff_human_db         = "GRCh37.75"

    chunk_size = 25000000
    
    // For updating the rsIDs from https://ftp.ncbi.nih.gov/snp/archive/
    dbsnp_vcf = "/cbio/users/mamana/reference/dbSNP/b151/b37/All_20180423.vcf.gz"

    // database for snpEff
    snpEff_database         = "/cbio/users/mamana/reference/snpEff_database"
    snpEff_human_db         = "GRCh37.75"
}

process {
    // Process-specific resource requirements
    withLabel: 'medium' {
      cpus = 1
      memory = 10.GB
      time = 48.h
    }
    withLabel : 'bigmem' {
      cpus = 1
      memory = 50.GB
      time = 48.h
    }
    withLabel : 'large' {
      cpus = 10
      memory = 100.GB
      time = 200.h
    }
    withLabel : 'bcftools' {
        errorStrategy  = { if (task.exitStatus in [143, 137, 255]) { 'retry' } else { 'terminate' } }
        cpus = 5
        memory = 50.GB
        container = 'docker://quay.io/mamanambiya/bcftools:latest'
    }
    withLabel : 'snpeff_bcftools' {
        errorStrategy  = { if (task.exitStatus in [143, 137, 255]) { 'retry' } else { 'terminate' } }
        cpus = 5
        memory = 50.GB
        container = 'docker://quay.io/mamanambiya/snpeff_bcftools:latest'
    }
}
