/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow -c conf/ilifu.config run /generate_freq.nf -profile singularity
 */

params {
    config_profile_name = 'popfreq'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    email = "mamana.mbiyavanga@uct.ac.za"
    plaintext_email = "mamana.mbiyavanga@uct.ac.za"
    // Limit resources so that this can run on Travis
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h
    outDir = '/scratch/users/mamana/popfreqs'
    scratchDir = "/data/projects/cbio"
    // Input data
    datasets = [
          ['TEST', 'https://github.com/h3abionet/popfreqs/raw/master/test_data/testdata.vcf.gz', 'https://github.com/h3abionet/popfreqs/raw/master/test_data/testdata.samples'],
    ]
    // POPS = ['AFR', 'AFR1']
    POPS = ['ALL']
    // Use ALL or '' to use all available chromosome in the target dataset
    chromosomes = [22]
    // chromosomes = [21, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 1, 22]
}

process {
    // Process-specific resource requirements
    withLabel: 'medium' {
        memory = 6.GB
    }
    withLabel : 'bigmem' {
        memory = 50.GB
    }
}

// profile{
//     singularity{
//         singularity.runOptions = " -B ${params.scratchDir} " // add any paths that need   to be mounted here
//     }
// }
