/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow -c /users/mamana/chipfreqs/conf/ilifu.config run /users/mamana/chipfreqs/main.nf -profile singularity
 */

params {
    config_profile_name = 'popfreq'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    email = "mamana.mbiyavanga@uct.ac.za"
    plaintext_email = "mamana.mbiyavanga@uct.ac.za"
    // Limit resources so that this can run on Travis
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h
    outdir = './popfreqs'
    // Input data
    datasets = [
            ['test', 'https://github.com/h3abionet/popfreqs/raw/master/data/testdata.vcf.gz'],
    ]
    chromosomes = [22]
    mafs_annotations = "https://github.com/h3abionet/popfreqs/raw/master/data/maf_datasets.csv"
}

process {
    // Process-specific resource requirements
    withLabel: 'medium' {
      cpus = 2
      memory = 1.GB
    }
    withLabel : 'bigmem' {
      cpus = 2
      memory = 2.GB
    }
}
