/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow -c /users/mamana/chipfreqs/conf/ilifu.config run /users/mamana/chipfreqs/main.nf -profile singularity
 */

params {
    config_profile_name = 'popfreq'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    update_rsid = false
    
    out_prefix = 'test_annot'

    outdir = '/cbio/projects/001/clients/population_allele_freqs/'

    // Input data
    datasets = [
            ['test', '/users/mamana/popfreqs/test_data/testdata.vcf.gz'],
          ]
    // chromosomes = [21,22]
    chromosomes = [21, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 1, 22]

    mafs_annotations = "/users/mamana/popfreqs/data/maf_datasets.1.csv"

    // everything done in chunks
    chunk_size = 25000000

    // For updating the rsIDs from https://ftp.ncbi.nih.gov/snp/archive/
    dbsnp_vcf = "/cbio/users/mamana/reference/dbSNP/b151/b37/All_20180423.vcf.gz"

}

process {
    // Process-specific resource requirements
    withLabel: 'medium' {
      cpus = 1
      memory = 10.GB
      time = 48.h
    }
    withLabel : 'bigmem' {
      cpus = 1
      memory = 50.GB
      time = 48.h
    }
    withLabel : 'large' {
      cpus = 10
      memory = 100.GB
      time = 200.h
    }
    withLabel : 'bcftools' {
        errorStrategy  = { if (task.exitStatus in [143, 137, 255]) { 'retry' } else { 'terminate' } }
        cpus = 5
        memory = 50.GB
        container = 'docker://quay.io/mamanambiya/bcftools:latest'
    }
    withLabel : 'snpeff_bcftools' {
        errorStrategy  = { if (task.exitStatus in [143, 137, 255]) { 'retry' } else { 'terminate' } }
        cpus = 5
        memory = 50.GB
        container = 'docker://quay.io/mamanambiya/snpeff_bcftools:latest'
    }
}
